/* Basic Reset*/
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}
/* Header Style*/
header{
    background-color:darkseagreen;
    color: #333; 
    padding: 15px; 
    text-align:center ;
}
/* Profile Picture Style*/
.digital-Art{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 10px;
    box-shadow: 0 0 0.8150;
}
/* main headidng section */
#home{
    background-color: antiquewhite;
    margin-left: -1cm;
    margin-right: -1cm;
    margin-top: -1cm;
    padding-top: -1cm;
    padding-bottom: -2cm;float: left;
}
/* Gneral Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
/* Navbar Styling */
.navbar{
    background-color: #333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logo{
color:whitesmoke;
font-size: 30px;
background-color: #333;
border: none;
float: right;
}
.logo span{
    color: yellowgreen;
}
.nav-list{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-item{
    margin: auto;
}
.nav-link{
    text-decoration: none;
    color: #fff8e1;
    font-weight:bold;
    padding: 8px 16px;
    float: right;
}
.nav-link:hover{
    background-color: #8b6f61;
    border-radius: 5px;
    color: #fff8e1;
} /* This is the form section */
label{
    display: block;
    margin-top: 1cm;
}
label:first-of-type{
    margin-top: 0;
}
input{
    padding: 1cm;
    border: ;
}
.aboutme-section,.hobbies-section{
    padding: 10px;
    border:1px solid #ddd ;
}
.aboutme-section{
    background-color: #f4f4f4;
}
/* Responsive Design*/
@media(max-width:768){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        .nav-list{
            flex-direction: column;
            gap: 10px;
        }
    }
}
